@charset "utf-8";
/************ style reset ************/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, q, dl, dt, dd, ol, ul, li, form, label, legend, caption, tbody, tfoot, thead, tr, th, figure, section, menu { margin:0; padding:0; border:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; }
table { border-collapse:separate; border-spacing:0; }
blockquote:before, blockquote:after, q:before, q:after { content:""; }
blockquote, q { quotes:"" ""; }
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img { margin:0; display:block; }
:focus { outline:none; } 
/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input, button, textarea, select { *font-size:100%; }
ol, ul, nav { list-style:none; }
/************ global style ************/
html { -webkit-text-size-adjust:none; }
body { background:#dcdad3 url(../images/bg.gif) repeat-x center -20px; color:#7A6B48; font:12px/1.8 "微软雅黑", arial, tahoma, simsun, sans-serif; height: 1000px; }
select, input, textarea { color:#7C796F; font:12px/1.6 "微软雅黑", arial, tahoma, simsun, sans-serif; vertical-align:middle; margin:0; padding:0; }
a { text-decoration:none; outline:none; -webkit-transition:color .3s ease; -moz-transition:color .3s ease; -ms-transition:color .3s ease; -o-transition:color .3s ease; transition:color .3s ease }
a:link, a:active, a:visited { color:#7C796F; }
a:hover { color:#f47920; text-decoration:none; }
p { /*word-break:break-all;word-wrap:break-word;*/ margin:7px 0; padding:0; text-align:justify; }
img { margin:0; padding:0; border:0; font-size:0; vertical-align:middle; }
.num { font-size:11px; }
.page-control { clear:both; margin-top:9px; text-align:right; color:#2a6996; border-top:1px #2a6996 solid; padding:3px 9px; }
.page-control a { color:#20961a; }
.page-control input { border:1px #2a6996 solid; vertical-align:middle; }
.page-control img { vertical-align:middle; display:inline; }
.is_data_empty { clear:both; padding:5px 9px; }
.ipt-page-jump { display:inline; }
.btn-page-go { background:#2a6996; color:white; line-height:15px; cursor:pointer; }
.ipt-page-jump { width:25px; line-height:15px; }
.ipt_btn { background:#8D8A00; color:white; cursor:pointer; border:1px #c7bb7a dotted; height:20px; line-height:15px; }
.ipt_read-only { background:#f1f1f1; border:1px gray solid; }
.clearfix { zoom:1; }
.clearfix:after { clear:both; content:"."; display:block; height:0; font-size:0; line-height:0; visibility:hidden; }
.back { clear:both; text-align:center; margin-top:20px; }
.hide { display:none; }
.show { display:block; }
.slt_date { background:url(../images/date.gif) no-repeat right center; cursor:pointer; }
/********************* color style ***************************/
.red, a.red, .red a { color:red!important; }
.blue { color:#039; }
.orange, a.orange, .orange a:link { color:#f47920; }
.pink, a.pink, .pink a { color:#fb78ca; }
.green, a.green, .green a { color:#079100; }
.big_red, a.big_red, .big_red a { color:red!important; font-size:14px; }
.deep_red, a.deep_red, .deep_red a { color:#dd6c3f!important; }
.read-only { color:gray!important; }
.yellow, a.yellow, .yellow a { color:#f8fc35!important; }
.white, a.white, .white a { color:white!important; }
.fs14 { font-size:14px; }
.fs18 { font-size:18px; }
.b { font-weight:bold; }
.b14 { font-size:14px; font-weight:bold; }
.b20 { font-size:20px; font-weight:bold; }
.mt5 { margin-top:5px; }
.mt8 { margin-top:8px; }
.mt10 { margin-top:10px; }
.mt12 { margin-top:12px; }
.mt0 { margin-top:0!important; }
.hand { cursor:pointer; }
.underline { text-decoration:underline; }
.lt { text-decoration:line-through; }
.ti2em { text-indent:2em; }
.tac { text-align:center; }
.tal { text-align:left; }